<html>
  <body>
    <h1>Enter Address</h1>
    <form action="/" method="post">
      <input name="address" type="text" placeholder="Enter address..." />
      <p>
        <input type="submit" value="Send" formaction="/getweather" />
      </p>
    </form>
  </body>
</html>
