<!DOCTYPE html>
<html>
<title>Get Weather</title>
{{> stylerefs}}
<body>

<!-- Navbar -->
{{> navbar}}

<!-- Header -->
<header class="w3-container w3-yellow w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">FORM</h1>
  <p class="w3-xlarge">Template by w3.css #Sharmin_Sam</p>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container ">
  <div class="w3-content ">
    <div class="w3-twothird " >
      <form action="/" method="post">
        <input name="address" type="text" placeholder="Enter address..." />
        <p>
          <input type="submit" value="Send" formaction="/getweather" />
        </p>
      </form>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Welcome to Sharmin_Sam Website</h1>
      <h5 class="w3-padding-32">This website is created using Oracle Software with the help of command promt</h5>

      <p class="w3-text-grey">This is the weather information website page where the user search for weather information by entering the address of the location.
        Such as weather status, summary of the weather, and the temperature.</p>
    </div>
  </div>
</div>

<!--footer -->
{{> footer}}

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
